*.bat
*.psd
*.zsh
.vs
.vscode
_*.ini
_packed*
_private*
lua/.src/*.js*
lua/.src/*.sublime-*
sfx/*
shaders
textures/_*
tzdata/.src/*
weather*/*

!weather-controllers/base

# something for debugging and uploading
*.ini-flatten.txt
*.pack_bak
*/.vscode/*
*/Manifest.json
backgrounds/*.jpeg
backgrounds/*.jpg
backgrounds/*.png
config/*.ini.off
config/*/loaded/*
config/.build/*
config/0/*
config/cars/stereo/mk14_abar*.kn5
config/cars/stereo/mk14_loxh*.kn5
config/tracks/unpacked*
installed.log
lua/.src/.definitions/ac_module_*
lua/.src/.out
lua/.src/ac_module_*
lua/module-*
module_*.ini
sfx.zip
shaders.zip
shaders_dev/*
std.zip
storage.data
textures/cars/*.zip
textures/cars/_temporary/*

config-ext/*
vao-patches-cars

internal/lua-apps
internal/lua-module
internal/lua-sdk/*
internal/lua-shared
internal/plugins
internal/python
internal/shader-tpl
internal/tzdata
internal/lua.zip

textures/common/dev/*
textures/people/.src
textures/color_grading/__Sol*
textures/gui/module_*
textures/app_icons
textures/gui
textures/oculus
textures/*/_src
textures/*/_res

lua/**/_*/*
lua/cars/android_auto
lua/joypad-assist
lua/online
lua/tfx
lua/tools
