_private*
_packed*
_*.ini
*.psd
*.zsh
textures/_*
weather*/*
sfx/*
lua/.src/*.js*
.vscode
*.bat
lua/.src/*.sublime-*
tzdata/.src/*
shaders
.vs

!weather-controllers/base

# something for debugging and uploading
backgrounds/*.jpg
backgrounds/*.jpeg
backgrounds/*.png
storage.data
config/0/*
*/Manifest.json
config/*/loaded/*
*.pack_bak
textures/cars/*.zip
textures/cars/_temporary/*
installed.log
config/.build/*
config/cars/stereo/mk14_abar*.kn5
config/cars/stereo/mk14_loxh*.kn5
shaders_dev/*
shaders.zip
*.ini-flatten.txt
config/tracks/unpacked*
*/.vscode/*
config/*.ini.off

textures/rain_fx/*
textures/common/dev/*
